@import url(talleres.css);
@import url(productos.css);
@import url(arte.css);
@import url(formulario.css);
@import url(info.css);

*{
    margin: 0;
    padding: 0;
}



#navv{
    position:fixed;
    z-index: 100;
    width: 100%;
    
   
}






.carrusel img{
    height: 300px;
    padding-top: 74px;
   
}



.navbar-brand {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.308);
    cursor: default;
    font-size: xx-large;
   text-shadow: 3px 2px 5px rgb(99, 99, 99);
   
   
   
}


ul{
    font-size: x-large;
    
    
    

}





.d-flex button{
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.288);
    height: 40px;

}
.d-flex button:hover{
    background: rgba(255, 151, 113, 0.541);
    border: none;

}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  margin: 7%;

    
}

.contenedor img{
    width: 35%;
    height: 35vh;
    
}

.textos{
    width: 60%;
    text-align: justify;
}

.textos h3{
    margin-bottom: 15px;
    margin-top: 40px;
}

.textos h3 span{
    background: #073561;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 15px;
    padding-bottom: 35px;
 
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    margin-left: 2px;
    
}







.textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 250;
    text-align: justify;
}



#wave{
    position: absolute;
  
    width: 100%;
  background-color: transparent;
}


footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
   
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


