@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');



.productos{
    background: url(../img/papel.png);
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
    
}

#tarjetas{
    background: rgb(255, 255, 255);
    padding-top: 130px;
    padding-bottom: 50px;
    
}


#wave2{
  position: relative;
    position: absolute;
    bottom: -80px;
    width: 100%;
    background-color: transparent;


}

.container{
    
    text-align: center;
  
    
    width: 100%;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container .card{
    width: 318px;
    height: 400px;
    border-radius: 5px;
   
   
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 70px 20px 0px 20px;
    text-align: center;
    transition: all 0.25s;
    flex-wrap: wrap;
    margin-bottom: 100px;
    background: url(../img/005\ \(Copiar\).png);
    background-size: contain;
    background-repeat: no-repeat;
    
}


.container .card:hover{
   
    transform: scale(1.1);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.568);
    
}

.container .card img{
    width: 250px;
    height: 220px;
    padding: 70px 20px 5px 90px;
   text-align: center;
}


.container .card h4{
    font-weight: 400;
    padding: 0px 60px 0px 60px;
}


.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    background: #3498db;
    border: solid 2px #2d77a8;
    border-radius: 5px;
    margin: 10px 100px 60px 100px;
    transition: all 1s;
}

.container .card a:hover{
    background:#67b0e096 ;
    transform: scale(1.05)

}




.titulo1 {
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.781);
    padding: 150px 10% 150px 10% ;
    color: rgb(85, 39, 6);
}

.titulo{
    text-align: center;
   
    border-bottom: solid 2px rgb(88, 88, 88);
    margin: 0px 10% 0px 10%;
    text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.781);
    color: rgb(85, 39, 6);
    padding-bottom: 20px;
    
    
}
