#talleres{
    background: url(../img/2781-papel\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    
    padding: 70px;
    
}

#talleres h1{
    text-shadow: 3px 2px 5px rgba(99, 99, 99, 0.623) ;
    border-bottom: solid 4px rgba(0, 0, 0, 0.336);
    padding: 50px;
    
    

    
}

#talleres .contenedor-t img{
    width: 200px;
    height: 200px;
    
    
   
}

article{
    padding: 25px;
    transition: all 0.5s;
    border-radius: 40%;
   
}

#talleres .contenedor-t{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#talleres .contenedor-t article{
    margin: 40px;
}


#talleres a{
    padding-top: 50px;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(39, 39, 39, 0.705);
    text-decoration: none;
    color: black;
    cursor:default ;
}



#talleres a h4{
    padding-top: 30px;
    
}


article:hover{
   
    
    
   
 transform: scale(1.1);
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(99, 99, 99, 0.623) ;
  border-bottom: outset 4px rgb(194, 158, 0);
  cursor: none ;
  
}

article img:hover{
    cursor:default ;
}



header {
    width: 100%;
    height: 700px;
    
    background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ffbeda, #ffbeda);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffbedaa2, #251550b2), url(../img/arte.jpg) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



background-size: cover ;
background-attachment: fixed;
position: relative;


}

.wave3{
    position: absolute;
    bottom: 0;
    width: 100%;
  background-color: transparent;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    padding-top: 280px;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:rgb(255, 255, 255);
}



